@page "/admin/events"

@using AzureOpenAIProxy.PlaygroundApp.Components.UI.Admin

<PageTitle>AdminEvents</PageTitle>

<h1>AdminEvents</h1>

<p>This component demonstrates showing admin events.</p>

<AdminEventsComponent @rendermode="InteractiveServer"/>
