@page "/admin/events"

<PageTitle>AdminEvents</PageTitle>

<h1>AdminEvents</h1>

<p>This component demonstrates showing admin events.</p>

<AdminEventsComponent Id="admin-events" @rendermode="InteractiveServer"/>
