@page "/events"
@rendermode InteractiveServer

<PageTitle>Events</PageTitle>

<p>This component demonstrates showing events that user joined.</p>

<EventListComponent @rendermode="InteractiveServer" />

@code {
}
