@page "/events"
@attribute [StreamRendering]

@using AzureOpenAIProxy.PlaygroundApp.Components.UI.Admin

<PageTitle>Events</PageTitle>

<h1>Events</h1>

<p>This component demonstrates showing events.</p>

<ListEventDetailsComponent @rendermode="InteractiveServer" />
