@page "/events"
@rendermode InteractiveServer

<PageTitle>Events</PageTitle>

<p>This component demonstrates showing up to 4 events that user joined.</p>

<EventListComponent Id="events" @rendermode="InteractiveServer" />

@code {
}
