@page "/playground"
@rendermode InteractiveServer

<PageTitle>Playground Page</PageTitle>

<FluentLayout>
    <FluentHeader Style="padding-top: 5px;"><h1>Azure OpenAI Proxy Playground</h1></FluentHeader>

    <FluentGrid Spacing="0" AdaptiveRendering="true" Justify="JustifyContent.FlexStart">
        <FluentGridItem Class="config-grid" xs="12" sm="12" md="4" lg="4" xl="4" xxl="4">
            <ConfigWindowComponent Id="config-window" OnSystemMessageChanged="SetSystemMessage" @rendermode="InteractiveServer" />
        </FluentGridItem>

        <FluentGridItem Class="chat-grid" xs="12" sm="12" md="8" lg="8" xl="8" xxl="8"
                        Style="border:1px solid lightgrey">
            <ChatWindowComponent Id="chat-window" @rendermode="InteractiveServer" />
        </FluentGridItem>
    </FluentGrid>
</FluentLayout>

@code {
    private string? systemMessage;

    private async Task SetSystemMessage(string systemMessage)
    {
        this.systemMessage = systemMessage;

        await Task.CompletedTask;
    }
}