@page "/playground"

<PageTitle>Playground Page</PageTitle>

<h1>playground page!</h1>

<ConfigTabComponent @rendermode="InteractiveServer"/>
<ApiKeyInputComponent @rendermode="InteractiveServer" />