@page "/tests"
@rendermode InteractiveServer

<h1>Debug Button</h1>
<DebugTargetComponent Id="debug-target" OnValueChanged="SetInput" />
<DebugButtonComponent Id="debug-button" Input="@currentValue" />

@code {
    private object? currentValue;

    private async Task SetInput(int newValue)
    {
        currentValue = newValue;
        await Task.CompletedTask;
    }
}