@page "/tests"
@rendermode InteractiveServer

<h1>Debug Button</h1>
<DebugTargetComponent Id="debug-target" OnValueChanged="SetInput" />
<DebugButtonComponent Id="debug-button" Input="@currentValue" />

<ApiKeyInputComponent OnKeyInput="HandleApiKeyInput" />
<DebugButtonComponent Input="@apiKey" />


@code {
    private object? currentValue;
    private string? apiKey;

    private void HandleApiKeyInput(string apiKeyValue)
    {
        apiKey = apiKeyValue;
    }

    private async Task SetInput(int newValue)
    {
        currentValue = newValue;
        await Task.CompletedTask;
    }
}