@page "/tests"
@rendermode InteractiveServer

<h1>Debug Button</h1>
<DebugTargetComponent Id="debug-target" OnValueChanged="SetInput" />
<DebugButtonComponent Id="debug-button" Input="@currentValue" />

<DeploymentModelListComponent OnUserOptionSelected="HandleSelectedModelValue" @rendermode="InteractiveServer" />

@code {
    private object? currentValue;
    private string? selectedModelValue = "";

    private async Task SetInput(int newValue)
    {
        currentValue = newValue;
        await Task.CompletedTask;
    }

    private async Task HandleSelectedModelValue(string val)
    {
        selectedModelValue = val;
        currentValue = selectedModelValue;
        await Task.CompletedTask;
    }
}
