@page "/tests"
@using AzureOpenAIProxy.PlaygroundApp.Components.UI
@rendermode InteractiveServer

<DeploymentModelListComponent OnUserOptionSelected="HandleSelectedValue" />

<p style="margin-top: 10px">Selected Value: @selectedModelValue</p>

@code {
    private string? selectedModelValue = "";

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
    }

    private void HandleSelectedValue(string val)
    {
        selectedModelValue = val;
    }
}