@page "/tests"
@using AzureOpenAIProxy.PlaygroundApp.Components.UI
@rendermode InteractiveServer

<DeploymentModelListComponent OptionSelected="HandleSelectedValue" />

<p style="margin-top: 10px">Selected Value: @value</p>

@code {
    private string? value;
    private void HandleSelectedValue(string val)
    {
        value = val;
    }
}