@page "/tests"
@rendermode InteractiveServer

<DebugTargetComponent OnValueChanged="SetInput" />
<DebugButtonComponent Input="@currentValue" />

<DeploymentModelListComponent OnUserOptionSelected="HandleSelectedValue" @rendermode="InteractiveServer" />
<p style="margin-top: 10px">Selected Value: @selectedModelValue</p>

@code {
    private string? selectedModelValue = "";
    private object? currentValue;

    private void SetInput(int newValue)
    {
        currentValue = newValue;
    }

    private void HandleSelectedValue(string val)
    {
        selectedModelValue = val;
    }
}
