@using AzureOpenAIProxy.PlaygroundApp.Models

<FluentStack Id="@Id" Style="width: 100%;" Orientation="Orientation.Vertical" VerticalAlignment="VerticalAlignment.Top">
    @if (this.Messages != null && this.Messages.Any())
    {
        foreach (var message in this.Messages)
        {
            <FluentStack id="message-@(this.Messages.IndexOf(message).ToString("00"))" Style="width: 100%;" Orientation="Orientation.Horizontal" HorizontalAlignment="@(message.Role == MessageRole.Assistant ? HorizontalAlignment.Start : HorizontalAlignment.End)">
                <FluentCard Style="width: 70%;" MinimalStyle="true">
                    <p>@message.Message</p>
                </FluentCard>
            </FluentStack>
        }
    }
</FluentStack>

@code {
    [Parameter]
    public string? Id { get; set; }

    [Parameter]
    public List<ChatMessage>? Messages { get; set; }
}