<FluentTabs Id="config-tab" ActiveTabId="system-message" OnTabChange="ChangeTab">
    <FluentTab Label="System message" Id="system-message-tab">
        <SystemMessageTabComponent Id="system-message-tab-component" OnSystemMessageChanged="SetSystemMessage" />
    </FluentTab>
    <FluentTab Label="Parameters" Id="parameters-tab">
        This is "Parameters" tab.
    </FluentTab>
</FluentTabs>

<p id="active-tab">[TEST] Active tab changed to: @SelectedTab?.Id</p>

@code {
    private FluentTab? SelectedTab;
    private string? SystemMessage;

    private async Task ChangeTab(FluentTab tab)
    {
        SelectedTab = tab;
        await Task.CompletedTask;
    }

    private async Task SetSystemMessage(string value)
    {
        SystemMessage = value;
        await Task.CompletedTask;
    }
}