@if (HasNoEvent)
{
    <FluentGridItem Class="event-list-item" Id="@Id" xs="12" lg="12" xxl="12" Justify="JustifyContent.Center" Style="text-align: center;">
        <div class="event-item-flex-wrapper">
            <FluentCard Class="no-event" MinimalStyle="true">
                <FluentLabel Typo="Typography.Header">You don’t have any events you have participated in now.</FluentLabel>
            </FluentCard>
        </div>
    </FluentGridItem>
}
else
{
    <FluentGridItem Class="event-list-item" Id="@Id" xs="12" lg="6" xxl="3" Justify="JustifyContent.Center" Style="text-align: center;">
        <div class="event-item-flex-wrapper">
            <FluentCard Class="event" MinimalStyle="true">
                <FluentNavLink Class="event-details-link" Href="@($"/events/{Id}")" >
                    <FluentLabel Class="event-title" Typo="Typography.PaneHeader" Style="margin-block: 0.5em;">
                        @Title
                    </FluentLabel>
                </FluentNavLink>
                <div class="event-summary card border">
                    <div class="card-body">
                        <h5>@Summary</h5>
                    </div>
                </div>
            </FluentCard>
        </div>
    </FluentGridItem>
}





@code {
    [Parameter]
    public string? Id { get; set; }

    [Parameter]
    public string? Title { get; set; }

    [Parameter]
    public string? Summary { get; set; }

    [Parameter]
    public bool HasNoEvent { get; set; }
}
