@using AzureOpenAIProxy.PlaygroundApp.Clients
@inject IOpenAIApiClient Api

<FluentGridItem xs="12" sm="6" Justify="JustifyContent.Center" Style="align-items: stretch;">
    <div class="card" style="background-color: Menu; align-items: stretch">
        Title: @Title
    </div>
</FluentGridItem>

@code {
    [Parameter]
    public Guid EventId { get; set; }

    [Parameter]
    public string Title { get; set; }

    [Parameter]
    public string? Summary { get; set; }

    [Parameter]
    public DateTimeOffset EndDate { get; set; }

    [Parameter]
    public int MaxTokenCap { get; set; }

    [Parameter]
    public int DailyRequestCap { get; set; }

    private string _timeStampResult = string.Empty;
    private bool _isStateChanged = false;

    public override Task SetParametersAsync(ParameterView parameters)
    {
        parameters.SetParameterProperties(this);
        _timeStampResult = EndDate.ToString();
        return base.SetParametersAsync(parameters);
    }
}
