@using AzureOpenAIProxy.PlaygroundApp.Models;

<FluentGrid AdaptiveRendering="true"
            Id="@Id"
            Spacing="3"
            Justify="JustifyContent.FlexStart"
            Style="background-color: var(--neutral-layer-3);
                padding-block: 1.5em;
                padding-inline: 1.0em; align-items: center; margin-top: 18px; border-radius: 8px;">
    @if (_events == null)
    {
        // Loading progress ring
        <FluentGridItem Id="event-loading" xs="12" sm="12" Justify="JustifyContent.Center" Style="text-align: center; flex-grow: 1;">
            <div style="flex-grow: 1; display: flex; padding: 0em; flex-direction: row; align-items: center; align-content: center; justify-content: center;">
                <FluentProgressRing></FluentProgressRing>
            </div>
        </FluentGridItem>
    }
    else
    {
        @if (_events.Count == 0)
        {
            <FluentGridItem Id="no-events" xs="12" sm="12" Justify="JustifyContent.Center" Style="text-align: center; flex-grow: 1;">
                <div style="flex-grow: 1; display: flex; padding: 0em; flex-direction: row; align-items: center; align-content: center; justify-content: center;">
                    <h4>You don’t have any events you have participated in now.</h4>
                </div>
            </FluentGridItem>
        }
        else
        {
            @foreach (var e in _events)
            {
                <EventItemComponent Id="@e.EventId.ToString()"
                    Title="@e.Title"
                    Summary="@e.Summary">
                </EventItemComponent>
            }
        }
    }
</FluentGrid>

@code {
    [Parameter]
    public string? Id { get; set; }

    protected override async Task OnInitializedAsync()
    {
        // TODO: Fetch events from the API server.
        _events = await CreateEventDetailsAsync();
    }

    private List<EventDetails>? _events;

    private Task<List<EventDetails>> CreateEventDetailsAsync()
    {
        return Task.FromResult(new List<EventDetails>
        {
            new EventDetails
            {
                EventId = Guid.NewGuid(),
                Title = "Event 1",
                Summary = "Summary 1",
                MaxTokenCap = 1000,
                DailyRequestCap = 100
            },
            new EventDetails
            {
                EventId = Guid.NewGuid(),
                Title = "Event 2",
                Summary = "Et iusto clita ipsum et. Amet lorem est lorem takimata et aliquyam. Aliquyam invidunt dolor erat eu sed ut sadipscing justo sed justo amet magna ea lorem ipsum exerci. Erat diam tempor imperdiet lorem duis. Amet est sanctus tempor kasd erat odio diam accumsan stet. Voluptua aliquyam magna at no vulputate justo labore labore eos stet. Dolore ut ad sadipscing sit elitr ipsum commodo nam invidunt wisi labore vero feugait sanctus sea ad et sadipscing. Possim tempor nonummy erat et no erat lorem in dolore consequat eos feugiat justo vero. Ut eirmod et duis accusam dolore est sea duis dolor et duis illum. Esse ut aliquyam placerat enim amet et labore sadipscing sed stet duo eos at consequat autem accusam lorem invidunt. Sea clita rebum eum et no dolore et sit. Liber aliquyam duo eu. Feugiat sadipscing sed eos sanctus gubergren dolore amet. Erat liber nam ea aliquam ut autem dolores magna aliquyam illum vero vulputate ut accusam est rebum. Et takimata est dolore ut elitr gubergren sanctus ipsum magna magna at sed amet dolores amet. Rebum dolore sit ea et gubergren. Dolore aliquam ipsum in at est justo justo ipsum. Ipsum nisl sea lorem.",
                MaxTokenCap = 2000,
                DailyRequestCap = 200,
            },
            new EventDetails
            {
                EventId = Guid.NewGuid(),
                Title = "Event 3",
                Summary = "Summary 3",
                MaxTokenCap = 3000,
                DailyRequestCap = 300,
            },
            new EventDetails
            {
                EventId = Guid.NewGuid(),
                Title = "Event 4",
                Summary = "Summary 4",
                MaxTokenCap = 3000,
                DailyRequestCap = 300,
            }
        });
    }
}
