::deep .event {
    display: flex;
    padding: 0em;
    flex-direction: column;
    align-items: normal;
    align-content: center;
    justify-content: center;
}

::deep .no-event {
    display: flex;
    padding: 0em;
    flex-direction: row;
    align-items: center;
    align-content: center;
    justify-content: center;
    background-color: transparent;
    box-shadow: none !important;
    border: hidden;
}

::deep .event-details-link {
    flex-grow: 0;
    align-self: center;
}

div.event-summary.card.border {
    background-color: var(--neutral-layer-2);
    padding: 1em;
    padding-inline: 1.5em;
    flex-grow: 1;
}

div.event-item-flex-wrapper {
    flex-grow: 1;
}