@using System.Linq

<div id="@Id" class="parameter-tab">
    <ParameterSliderComponent Id="slider-pastmessages"
                              Class="label-with-tooltip"
                              LabelText="Past messages included"
                              TooltipText="Select the number of past messages to include in each new API request. This helps give the model context for new user queries. Setting this number to 10 will include 5 user queries and 5 system responses."
                              Min="1" Max="20" Step="1" @bind-Value=@pastMessagesValue />

    @* Past Messages Slider *@
    <ParameterSliderComponent Id="slider-past-messages"
                              Class="label-with-tooltip"
                              LabelText="Past messages included"
                              TooltipText="Select the number of past messages to include in each new API request. This helps give the model context for new user queries. Setting this number to 10 will include 5 user queries and 5 system responses."
                              Min="1" Max="20" Step="1" @bind-Value=@pastMessagesValue />

    @* Max Response Slider *@
    <ParameterSliderComponent Id="slider-max-response"
                              Class="label-with-tooltip"
                              LabelText="Max response"
                              TooltipText="Set a limit on the number of tokens per model response. The API supports a maximum of MaxTokensPlaceholderDoNotTranslate tokens shared between the prompt (including system message, examples, message history, and user query) and the model's response. One token is roughly 4 characters for typical English text."
                              Min="1" Max="16000" Step="1" @bind-Value=@maxResponseValue />

    @* Temperature Slider *@
    <ParameterSliderComponent Id="slider-temperature"
                              Class="label-with-tooltip"
                              LabelText="Temperature"
                              TooltipText="Controls randomness. Lowering the temperature means that the model will produce more repetitive and deterministic responses. Increasing the temperature will result in more unexpected or creative responses. Try adjusting temperature or Top P but not both."
                              Min="0" Max="1" Step="0.01" @bind-Value=@temperatureValue />

    @* Top P Slider *@
    <ParameterSliderComponent Id="slider-top-p"
                              Class="label-with-tooltip"
                              LabelText="Top P"
                              TooltipText="Similar to temperature, this controls randomness but uses a different method. Lowering Top P will narrow the model’s token selection to likelier tokens. Increasing Top P will let the model choose from tokens with both high and low likelihood. Try adjusting temperature or Top P but not both."
                              Min="0" Max="1" Step="0.01" @bind-Value=@topPValue />

    @* Stop Sequence Auto Complete *@
    <ParameterListComponent Id="complete-stop-sequence"
                            LabelText="Stop sequence"
                            TooltipText="Make the model end its response at a desired point. The model response will end before the specified sequence, so it won't contain the stop sequence text. For ChatGPT, using <|im_end|> ensures that the model response doesn't generate a follow-up user query. You can include as many as four stop sequences."
                            @ref=stopSequence />

    @* Frequency Penalty Slider *@
    <ParameterSliderComponent Id="slider-frequency-penalty"
                              Class="label-with-tooltip"
                              LabelText="Frequency penalty"
                              TooltipText="Reduce the chance of repeating a token proportionally based on how often it has appeared in the text so far. This decreases the likelihood of repeating the exact same text in a response."
                              Min="0" Max="2" Step="0.01" @bind-Value=@frequencyPenaltyValue />

    @* Presence Penalty Slider *@
    <ParameterSliderComponent Id="slider-presence-penalty"
                              Class="label-with-tooltip"
                              LabelText="Presence penalty"
                              TooltipText="Reduce the chance of repeating any token that has appeared in the text at all so far. This increases the likelihood of introducing new topics in a response."
                              Min="0" Max="2" Step="0.01" @bind-Value=@presencePenaltyValue />
</div>

@code {
    [Parameter]
    public string? Id { get; set; }

    private int pastMessagesValue = 10;
    private int maxResponseValue = 800;
    private double temperatureValue = 0.7;
    private double topPValue = 0.95;

    private double frequencyPenaltyValue = 0;
    private double presencePenaltyValue = 0;

    private ParameterListComponent? stopSequence;
}