<fieldset>
    <legend>UI Test <a href="https://github.com/aliencube/azure-openai-sdk-proxy/issues/171">#171</a></legend>
@foreach (var option in options)
{
    <div class="form-check">
        <input class="form-check-input" id="@option" type="radio" name="inputType" @onchange="() => OnChangeCallback.InvokeAsync(option)" />
        <label class="form-check-label" for="@option">
            @option
        </label>
    </div>
}
</fieldset>

@code {
    [Parameter]
    public EventCallback<object> OnChangeCallback { get; set; }

    private List<object> options = new()
    {
        123,
        3.14159,
        "Hello, World!",
    };
}