@inherits LayoutComponentBase
@inject NavigationManager NavMan

<div class="page">
    @if (this._isAdmin == true)
    {
        <div class="sidebar">
            <NavMenu />
        </div>
    }

    <main>
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>

<FluentToastProvider />
<FluentDialogProvider />
<FluentTooltipProvider />
<FluentMessageBarProvider />

@code
{
    private bool _isAdmin;

    protected override async Task OnInitializedAsync()
    {
        var path = new Uri(this.NavMan.Uri).AbsolutePath;
        this._isAdmin = path.StartsWith("/admin", StringComparison.CurrentCultureIgnoreCase);

        await Task.CompletedTask;
    }
}