<div class="admin-event-active-state">
    <div class="@GetActiveClass(IsActive)"></div>
</div>

@code {
    [Parameter]
    public required bool IsActive { get; set; }

    private string GetActiveClass(bool? isActive)
    {
        if (!isActive.HasValue)
        {
            return "deactivated";
        }

        return isActive.Value ? "activated" : "deactivated";
    }
}