.fluent-datagrid-cell {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.page-button-box {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.page-button {
    margin-left: 10px;
}