<div class="evt-detail-div">
    <div style="margin-bottom: 0px;">@MainText</div>
    <div style="color: gray;">@SubText</div>
</div>

<style>
    .evt-detail-div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100px;
    }
</style>

@code {
    [Parameter]
    public required string MainText { get; set; }

    [Parameter]
    public string SubText { get; set; }
}
