<div class="evt-detail-header">
    <p>@Title</p>
</div>

<style>
    .evt-detail-header {
        display: flex;
        justify-content: center;
    }
</style>

@code {
    [Parameter]
    public required string Title { get; set; }
}