section {
    margin-bottom: 100px
}

.create-input-label {
    width: 200px;
    --type-ramp-base-font-size: 22px;
}

.create-fluent-stack {
    height: 100px;
}

.button-section {
    display: flex;
    justify-content: center;
    gap: 50px;
}

.button {
    width: 150px;
    height: 50px;
    font-size: 16px;
    margin: 0 10px;
}