name: Clear Deployment History

on:
  workflow_dispatch:
  schedule:
    - cron: "0 0/4 * * *"

permissions:
  contents: read
  id-token: write
  issues: write
  pull-requests: write

jobs:
  delete-deployment-history:
    name: "Deleting Deployment History"

    runs-on: ubuntu-latest

    env:
      AZURE_CLIENT_ID: ${{ vars.AZM_CLIENT_ID }}
      AZURE_TENANT_ID: ${{ vars.AZM_TENANT_ID }}
      AZURE_SUBSCRIPTION_ID: ${{ vars.AZM_SUBSCRIPTION_ID }}

    steps:
      - name: Azure login (Federated Credentials)
        if: env.AZURE_CLIENT_ID != ''
        uses: azure/login@v2
        with:
          client-id: ${{ env.AZURE_CLIENT_ID }}
          tenant-id: ${{ env.AZURE_TENANT_ID }}
          subscription-id: ${{ env.AZURE_SUBSCRIPTION_ID }}
          enable-AzPSSession: true

      - name: Delete all deployment history
        shell: pwsh
        run: |
          $history = az deployment sub list --query "[].name" | ConvertFrom-Json
          $history | ForEach-Object {
            $name = $_
            az deployment sub delete --name $name --no-wait
          }
